<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions required by the app -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Feature declaration for the camera. This resolves the warning. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/evaquake_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/evaquake_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Evaquake"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- NEW: LandingActivity is now the main entry point (launcher activity). -->
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity is no longer the launcher. It's a standard activity. -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Your MainActivity will now be launched from LoginActivity -->
        <activity android:name=".MainActivity" />

        <!-- Declare EmergencyDrillActivity -->
        <activity android:name=".EmergencyDrillActivity" />

        <!-- Declare RegisterActivity -->
        <activity android:name=".RegisterActivity" />

        <!-- Declare ScheduleActivity -->
        <activity android:name=".ScheduleActivity" />

        <!-- Declare QRScannerActivity -->
        <activity android:name=".QRScannerActivity" />

        <!-- Declare AboutEarthquakesActivity -->
        <activity android:name=".AboutEarthquakesActivity" />

        <!-- NEW: Activities required for the HomeFragment UI -->
        <activity android:name=".SafetyGuidesActivity" />
        <activity android:name=".EmergencyHotlinesActivity" />

        <!-- NEW: Correct declarations for the new Activities that will host your fragments -->
        <activity android:name=".Building3DActivity" />
        <activity android:name=".ArGuideActivity" />

    </application>
</manifest>
